In [1]:
import pandas as pd
import datetime

In [2]:
#month -> season
def season(month) : 
    if month>=3 and month <= 5 : return 0 #Spring
    elif month>=6 and month <= 8 : return 1 #Summber
    elif month>=9 and month <= 11 : return 2 #Fall
    else : return 3 #Winter

# 1. 데이터 읽어오기

In [3]:
tashu = pd.read_csv('data/tashu.csv' )
weather = pd.read_csv('data/weather.csv' )
station = pd.read_csv('data/station.csv' )

# 2. Data preprocessing

## 2.1 NaN Data & station > 144  drop

In [4]:
tashu.dropna(axis= 0)
tashu = tashu[tashu['RENT_STATION'] <= 144 ]
tashu = tashu[tashu['RETURN_STATION'] <= 144 ]

## 2.2 Date형식 변경

In [5]:
temp_weather = weather
#data 분리
temp_rent_tashu = tashu[['RENT_STATION' , 'RENT_DATE']]
temp_return_tashu = tashu[['RETURN_STATION' , 'RETURN_DATE']]

In [6]:
#to_Datetime
temp_rent_tashu['RENT_DATE']= pd.to_datetime(temp_rent_tashu['RENT_DATE'])

c:\users\s\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
temp_return_tashu['RETURN_DATE']= pd.to_datetime(temp_return_tashu['RETURN_DATE'])

c:\users\s\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [8]:
temp_weather['TIME']= pd.to_datetime(temp_weather['TIME'])

## 2.2.1 Date -> year, month, day, hour

### 2.2.1.1 RentDate

In [9]:

#rent
rent_year = []
rent_month = []
rent_day = []
rent_hour = []

for i in temp_rent_tashu['RENT_DATE'] :
    rent_year.append(i.year)
    rent_month.append(i.month)
    rent_day.append(i.day)
    rent_hour.append(i.hour)
    
temp_rent_tashu['YEAR'] = rent_year
temp_rent_tashu['MONTH'] = rent_month
temp_rent_tashu['DAY'] = rent_day
temp_rent_tashu['HOUR'] = rent_hour

c:\users\s\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### 2.2.1.2 ReturnDate

In [10]:

return_year = []
return_month = []
return_day = []
return_hour = []

for j in temp_return_tashu['RETURN_DATE'] : 
    return_year.append(j.year)
    return_month.append(j.month)
    return_day.append(j.day)
    return_hour.append(j.hour)
    
temp_return_tashu['YEAR'] = return_year
temp_return_tashu['MONTH'] = return_month
temp_return_tashu['DAY'] = return_day
temp_return_tashu['HOUR'] = return_hour

c:\users\s\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [11]:
del temp_rent_tashu['RENT_DATE']
del temp_return_tashu['RETURN_DATE']

#### RETURN_DATE 2016 DELETE

In [12]:
temp_return_tashu = temp_return_tashu[temp_return_tashu['YEAR'] < 2016]

### 2.2.1.3 WeatherTime

In [13]:
#Weather Time -> YEAR , MONTH, DAY , HOUR , WEEKDAY , SEASION
weather_year = []
weather_month = []
weather_day = []
weather_hour = []
weather_weekday = []
weather_season = []


for i in temp_weather['TIME'] :
    weather_year.append(i.year)
    weather_month.append(i.month)
    weather_day.append(i.day)
    weather_hour.append(i.hour)
    weather_weekday.append(i.weekday())
    weather_season.append(season(i.month))

temp_weather['YEAR'] = weather_year
temp_weather['MONTH'] = weather_month
temp_weather['DAY'] = weather_day
temp_weather['HOUR'] = weather_hour
temp_weather['WEEKDAY'] = weather_weekday
temp_weather['SEASON'] = weather_season

In [14]:
del temp_weather['TIME']

## 2.3 Merge ( station_num , weather )

In [15]:
from pandas import DataFrame
station_num = DataFrame(station['번호'])

In [16]:
total_rent_df = pd.merge(station_num.assign(dummy = 1), temp_weather.assign(dummy = 1), on = 'dummy').drop('dummy', axis=1)
total_return_df = pd.merge(station_num.assign(dummy = 1), temp_weather.assign(dummy = 1), on = 'dummy').drop('dummy', axis=1)

In [17]:
total_rent_df = total_rent_df.rename(columns={"번호":"RENT_STATION"})
total_return_df = total_return_df.rename(columns={"번호":"RETURN_STATION"})

## 2.4 Groupby -> count

### 2.4.1 Rent_count

In [18]:
rent_tashu_rentcount = temp_rent_tashu.groupby(['RENT_STATION', 'YEAR', 'MONTH' ,'DAY' ,'HOUR']).size().to_frame('RENTCOUNT').reset_index()

In [19]:
rent_tashu_rentcount

         RENT_STATION  YEAR  MONTH  DAY  HOUR  RENTCOUNT
0                 1.0  2013      1    1    13          3
1                 1.0  2013      1    2     7          2
2                 1.0  2013      1    2    11          1
3                 1.0  2013      1    2    18          1
4                 1.0  2013      1    3    11          1
5                 1.0  2013      1    4    18          1
6                 1.0  2013      1    5     7          1
7                 1.0  2013      1    5    14          1
8                 1.0  2013      1    5    15          2
9                 1.0  2013      1    6    14          1
10                1.0  2013      1    6    20          2
11                1.0  2013      1    7     7          1
12                1.0  2013      1    7    13          1
13                1.0  2013      1    7    19          1
14                1.0  2013      1    8    11          1
15                1.0  2013      1    8    14          1
16                1.0  2013      1    8    15          1
17                1.0  2013      1    8    17          4
18                1.0  2013      1    8    19          4
19                1.0  2013      1    9     9          1
20                1.0  2013      1    9    15          3
21                1.0  2013      1    9    22          1
22                1.0  2013      1   10     8          1
23                1.0  2013      1   10    17          1
24                1.0  2013      1   10    19          1
25                1.0  2013      1   11    18          1
26                1.0  2013      1   12     9          1
27                1.0  2013      1   12    12          2
28                1.0  2013      1   13    13          1
29                1.0  2013      1   13    16          1
...               ...   ...    ...  ...   ...        ...
1122422         144.0  2015     12   22     6          1
1122423         144.0  2015     12   23    15          2
1122424         144.0  2015     12   23    16          1
1122425         144.0  2015     12   24    22          2
1122426         144.0  2015     12   25     6          2
1122427         144.0  2015     12   25    14          1
1122428         144.0  2015     12   25    15          1
1122429         144.0  2015     12   25    16          1
1122430         144.0  2015     12   25    17          1
1122431         144.0  2015     12   26     6          2
1122432         144.0  2015     12   26    16         14
1122433         144.0  2015     12   26    18          1
1122434         144.0  2015     12   27     6          3
1122435         144.0  2015     12   27    13          1
1122436         144.0  2015     12   27    15          1
1122437         144.0  2015     12   28     6          2
1122438         144.0  2015     12   29    11          2
1122439         144.0  2015     12   29    12          2
1122440         144.0  2015     12   29    14          2
1122441         144.0  2015     12   29    15          5
1122442         144.0  2015     12   29    16          1
1122443         144.0  2015     12   29    17          4
1122444         144.0  2015     12   30     6          2
1122445         144.0  2015     12   30    21          1
1122446         144.0  2015     12   31     7          3
1122447         144.0  2015     12   31    14          1
1122448         144.0  2015     12   31    16          4
1122449         144.0  2015     12   31    17          5
1122450         144.0  2015     12   31    20          2
1122451         144.0  2015     12   31    22          3

[1122452 rows x 6 columns]

### 2.4.2 Return_count

In [20]:
return_tashu_returncount = temp_return_tashu.groupby(['RETURN_STATION', 'YEAR', 'MONTH' ,'DAY' ,'HOUR']).size().to_frame('RETURNCOUNT').reset_index()

In [21]:
return_tashu_returncount

         RETURN_STATION  YEAR  MONTH  DAY  HOUR  RETURNCOUNT
0                   1.0  2013      1    1    13            1
1                   1.0  2013      1    2     7            1
2                   1.0  2013      1    2    17            1
3                   1.0  2013      1    2    23            2
4                   1.0  2013      1    3     8            1
5                   1.0  2013      1    3    13            1
6                   1.0  2013      1    4    23            1
7                   1.0  2013      1    5     8            1
8                   1.0  2013      1    5    14            1
9                   1.0  2013      1    5    15            1
10                  1.0  2013      1    6    15            3
11                  1.0  2013      1    6    20            2
12                  1.0  2013      1    7     9            1
13                  1.0  2013      1    8     8            1
14                  1.0  2013      1    8    14            2
15                  1.0  2013      1    8    15            5
16                  1.0  2013      1    8    19            3
17                  1.0  2013      1    9     6            1
18                  1.0  2013      1    9    15            1
19                  1.0  2013      1    9    18            3
20                  1.0  2013      1   10    10            2
21                  1.0  2013      1   10    14            1
22                  1.0  2013      1   11    18            1
23                  1.0  2013      1   12     6            1
24                  1.0  2013      1   12    12            2
25                  1.0  2013      1   13    12            1
26                  1.0  2013      1   13    15            2
27                  1.0  2013      1   13    17            1
28                  1.0  2013      1   14     8            1
29                  1.0  2013      1   14    12            3
...                 ...   ...    ...  ...   ...          ...
1146083           144.0  2015     12   21    20            2
1146084           144.0  2015     12   22     6            1
1146085           144.0  2015     12   22    14            1
1146086           144.0  2015     12   23     0            1
1146087           144.0  2015     12   23    15            1
1146088           144.0  2015     12   23    16            2
1146089           144.0  2015     12   24     0            1
1146090           144.0  2015     12   24    17            1
1146091           144.0  2015     12   25     6            1
1146092           144.0  2015     12   25    14            1
1146093           144.0  2015     12   25    15            1
1146094           144.0  2015     12   25    16            1
1146095           144.0  2015     12   25    17            2
1146096           144.0  2015     12   26     6            2
1146097           144.0  2015     12   26    16           14
1146098           144.0  2015     12   26    18            1
1146099           144.0  2015     12   27     6            2
1146100           144.0  2015     12   27    14            1
1146101           144.0  2015     12   27    15            2
1146102           144.0  2015     12   28     6            2
1146103           144.0  2015     12   29    15            2
1146104           144.0  2015     12   29    16            1
1146105           144.0  2015     12   29    17            1
1146106           144.0  2015     12   30     0            1
1146107           144.0  2015     12   30     6            2
1146108           144.0  2015     12   30    21            1
1146109           144.0  2015     12   31     7            3
1146110           144.0  2015     12   31    15            6
1146111           144.0  2015     12   31    16            9
1146112           144.0  2015     12   31    17            5

[1146113 rows x 6 columns]

## 2.5 Merge( total , count)

### 2.5.1 total_rent, rent_count

In [22]:
total_rent_df = pd.merge(total_rent_df , rent_tashu_rentcount , how='outer')
total_rent_df['RENTCOUNT'] = total_rent_df['RENTCOUNT'].fillna(0)

### 2.5.2 total_return , return_count

In [24]:
total_return_df = pd.merge(total_return_df , return_tashu_returncount , how='outer')
total_return_df['RETURNCOUNT'] = total_return_df['RETURNCOUNT'].fillna(0)

In [25]:
total_rent_df

,RENT_STATION,TEMPERATURE,RAINFALL,WINDSPEED,HUMLDITY,SNOWFALL,YEAR,MONTH,DAY,HOUR,WEEKDAY,SEASON,RENTCOUNT
0,1,-8.8,NaN,0.1,90.0,8.8,2013,1,1,0,1,3,0.0
1,1,-8.5,NaN,0.9,90.0,8.8,2013,1,1,1,1,3,0.0
2,1,-8.5,NaN,1.0,89.0,8.8,2013,1,1,2,1,3,0.0
3,1,-9.0,NaN,0.7,91.0,8.8,2013,1,1,3,1,3,0.0
4,1,-9.1,NaN,0.6,92.0,8.8,2013,1,1,4,1,3,0.0
5,1,-9.4,NaN,0.5,92.0,8.8,2013,1,1,5,1,3,0.0
6,1,-9.0,NaN,1.4,93.0,8.8,2013,1,1,6,1,3,0.0
7,1,-8.3,NaN,0.2,94.0,9.6,2013,1,1,7,1,3,0.0
8,1,-7.3,NaN,1.7,96.0,10.5,2013,1,1,8,1,3,0.0
9,1,-6.4,2.2,0.9,96.0,12.8,2013,1,1,9,1,3,0.0
10,1,-5.3,NaN,0.4,98.0,15.3,2013,1,1,10,1,3,0.0
11,1,-3.4,NaN,0.9,93.0,15.5,2013,1,1,11,1,3,0.0
12,1,-0.5,1.9,0.7,88.0,15.0,2013,1,1,12,1,3,0.0
13,1,3.1,NaN,2.0,73.0,14.0,2013,1,1,13,1,3,3.0
14,1,2.5,NaN,2.4,69.0,12.5,2013,1,1,14,1,3,0.0
15,1,0.8,0.2,3.8,90.0,12.5,2013,1,1,15,1,3,0.0
16,1,1.1,NaN,2.4,84.0,13.8,2013,1,1,16,1,3,0.0
17,1,0.5,NaN,2.2,83.0,14.0,2013,1,1,17,1,3,0.0
18,1,-1.4,0.5,0.5,90.0,14.0,2013,1,1,18,1,3,0.0
19,1,-1.7,NaN,1.2,94.0,14.0,2013,1,1,19,1,3,0.0
20,1,-2.0,NaN,1.0,95.0,14.0,2013,1,1,20,1,3,0.0
21,1,-2.4,NaN,1.1,98.0,14.0,2013,1,1,21,1,3,0.0
22,1,-3.3,NaN,0.2,97.0,14.0,2013,1,1,22,1,3,0.0
23,1,-3.2,NaN,1.4,98.0,14.1,2013,1,1,23,1,3,0.0
24,1,-1.3,0.8,2.5,100.0,15.7,2013,1,2,0,2,3,0.0
25,1,-0.8,NaN,0.9,100.0,18.1,2013,1,2,1,2,3,0.0
26,1,-1.3,NaN,3.4,89.0,18.3,2013,1,2,2,2,3,0.0
27,1,-3.5,1.8,3.8,80.0,18.3,2013,1,2,3,2,3,0.0
28,1,-5.3,NaN,2.8,79.0,18.4,2013,1,2,4,2,3,0.0
29,1,-6.5,NaN,1.8,83.0,18.4,2013,1,2,5,2,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3784290,144,4.2,NaN,1.3,67.0,NaN,2015,12,30,18,2,3,0.0
3784291,144,4.3,NaN,1.1,66.0,NaN,2015,12,30,19,2,3,0.0
3784292,144,3.3,NaN,2.5,87.0,NaN,2015,12,30,20,2,3,0.0
3784293,144,2.7,1.0,2.8,92.0,NaN,2015,12,30,21,2,3,1.0
3784294,144,2.0,NaN,2.1,94.0,NaN,2015,12,30,22,2,3,0.0
3784295,144,1.8,NaN,1.4,95.0,NaN,2015,12,30,23,2,3,0.0
3784296,144,1.8,0.6,1.5,94.0,NaN,2015,12,31,0,3,3,0.0
3784297,144,1.7,NaN,0.5,94.0,NaN,2015,12,31,1,3,3,0.0
3784298,144,1.3,NaN,0.6,96.0,NaN,2015,12,31,2,3,3,0.0
3784299,144,1.0,NaN,1.0,96.0,NaN,2015,12,31,3,3,3,0.0
3784300,144,1.0,NaN,0.9,97.0,NaN,2015,12,31,4,3,3,0.0
3784301,144,0.4,NaN,0.5,97.0,NaN,2015,12,31,5,3,3,0.0
3784302,144,0.4,NaN,0.5,97.0,NaN,2015,12,31,6,3,3,0.0
3784303,144,0.0,NaN,1.2,97.0,NaN,2015,12,31,7,3,3,3.0
3784304,144,0.0,NaN,1.4,97.0,NaN,2015,12,31,8,3,3,0.0
3784305,144,0.4,NaN,0.3,97.0,NaN,2015,12,31,9,3,3,0.0
3784306,144,1.5,NaN,0.8,97.0,NaN,2015,12,31,10,3,3,0.0
3784307,144,2.4,NaN,1.2,90.0,NaN,2015,12,31,11,3,3,0.0
3784308,144,3.8,NaN,2.6,70.0,NaN,2015,12,31,12,3,3,0.0
3784309,144,4.7,NaN,2.1,65.0,NaN,2015,12,31,13,3,3,0.0
3784310,144,5.4,NaN,2.2,59.0,NaN,2015,12,31,14,3,3,1.0
3784311,144,5.5,NaN,1.8,57.0,NaN,2015,12,31,15,3,3,0.0
3784312,144,4.9,NaN,1.8,59.0,NaN,2015,12,31,16,3,3,4.0
3784313,144,4.2,NaN,1.1,62.0,NaN,2015,12,31,17,3,3,5.0
3784314,144,2.7,NaN,1.2,68.0,NaN,2015,12,31,18,3,3,0.0
3784315,144,1.2,NaN,1.0,76.0,NaN,2015,12,31,19,3,3,0.0
3784316,144,0.4,NaN,0.8,80.0,NaN,2015,12,31,20,3,3,2.0
3784317,144,0.0,NaN,0.5,83.0,NaN,2015,12,31,21,3,3,0.0
3784318,144,-1.0,NaN,1.1,87.0,NaN,2015,12,31,22,3,3,3.0
3784319,144,-1.4,NaN,0.2,90.0,NaN,2015,12,31,23,3,3,0.0

In [26]:
total_return_df

,RETURN_STATION,TEMPERATURE,RAINFALL,WINDSPEED,HUMLDITY,SNOWFALL,YEAR,MONTH,DAY,HOUR,WEEKDAY,SEASON,RETURNCOUNT
0,1,-8.8,NaN,0.1,90.0,8.8,2013,1,1,0,1,3,0.0
1,1,-8.5,NaN,0.9,90.0,8.8,2013,1,1,1,1,3,0.0
2,1,-8.5,NaN,1.0,89.0,8.8,2013,1,1,2,1,3,0.0
3,1,-9.0,NaN,0.7,91.0,8.8,2013,1,1,3,1,3,0.0
4,1,-9.1,NaN,0.6,92.0,8.8,2013,1,1,4,1,3,0.0
5,1,-9.4,NaN,0.5,92.0,8.8,2013,1,1,5,1,3,0.0
6,1,-9.0,NaN,1.4,93.0,8.8,2013,1,1,6,1,3,0.0
7,1,-8.3,NaN,0.2,94.0,9.6,2013,1,1,7,1,3,0.0
8,1,-7.3,NaN,1.7,96.0,10.5,2013,1,1,8,1,3,0.0
9,1,-6.4,2.2,0.9,96.0,12.8,2013,1,1,9,1,3,0.0
10,1,-5.3,NaN,0.4,98.0,15.3,2013,1,1,10,1,3,0.0
11,1,-3.4,NaN,0.9,93.0,15.5,2013,1,1,11,1,3,0.0
12,1,-0.5,1.9,0.7,88.0,15.0,2013,1,1,12,1,3,0.0
13,1,3.1,NaN,2.0,73.0,14.0,2013,1,1,13,1,3,1.0
14,1,2.5,NaN,2.4,69.0,12.5,2013,1,1,14,1,3,0.0
15,1,0.8,0.2,3.8,90.0,12.5,2013,1,1,15,1,3,0.0
16,1,1.1,NaN,2.4,84.0,13.8,2013,1,1,16,1,3,0.0
17,1,0.5,NaN,2.2,83.0,14.0,2013,1,1,17,1,3,0.0
18,1,-1.4,0.5,0.5,90.0,14.0,2013,1,1,18,1,3,0.0
19,1,-1.7,NaN,1.2,94.0,14.0,2013,1,1,19,1,3,0.0
20,1,-2.0,NaN,1.0,95.0,14.0,2013,1,1,20,1,3,0.0
21,1,-2.4,NaN,1.1,98.0,14.0,2013,1,1,21,1,3,0.0
22,1,-3.3,NaN,0.2,97.0,14.0,2013,1,1,22,1,3,0.0
23,1,-3.2,NaN,1.4,98.0,14.1,2013,1,1,23,1,3,0.0
24,1,-1.3,0.8,2.5,100.0,15.7,2013,1,2,0,2,3,0.0
25,1,-0.8,NaN,0.9,100.0,18.1,2013,1,2,1,2,3,0.0
26,1,-1.3,NaN,3.4,89.0,18.3,2013,1,2,2,2,3,0.0
27,1,-3.5,1.8,3.8,80.0,18.3,2013,1,2,3,2,3,0.0
28,1,-5.3,NaN,2.8,79.0,18.4,2013,1,2,4,2,3,0.0
29,1,-6.5,NaN,1.8,83.0,18.4,2013,1,2,5,2,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3784290,144,4.2,NaN,1.3,67.0,NaN,2015,12,30,18,2,3,0.0
3784291,144,4.3,NaN,1.1,66.0,NaN,2015,12,30,19,2,3,0.0
3784292,144,3.3,NaN,2.5,87.0,NaN,2015,12,30,20,2,3,0.0
3784293,144,2.7,1.0,2.8,92.0,NaN,2015,12,30,21,2,3,1.0
3784294,144,2.0,NaN,2.1,94.0,NaN,2015,12,30,22,2,3,0.0
3784295,144,1.8,NaN,1.4,95.0,NaN,2015,12,30,23,2,3,0.0
3784296,144,1.8,0.6,1.5,94.0,NaN,2015,12,31,0,3,3,0.0
3784297,144,1.7,NaN,0.5,94.0,NaN,2015,12,31,1,3,3,0.0
3784298,144,1.3,NaN,0.6,96.0,NaN,2015,12,31,2,3,3,0.0
3784299,144,1.0,NaN,1.0,96.0,NaN,2015,12,31,3,3,3,0.0
3784300,144,1.0,NaN,0.9,97.0,NaN,2015,12,31,4,3,3,0.0
3784301,144,0.4,NaN,0.5,97.0,NaN,2015,12,31,5,3,3,0.0
3784302,144,0.4,NaN,0.5,97.0,NaN,2015,12,31,6,3,3,0.0
3784303,144,0.0,NaN,1.2,97.0,NaN,2015,12,31,7,3,3,3.0
3784304,144,0.0,NaN,1.4,97.0,NaN,2015,12,31,8,3,3,0.0
3784305,144,0.4,NaN,0.3,97.0,NaN,2015,12,31,9,3,3,0.0
3784306,144,1.5,NaN,0.8,97.0,NaN,2015,12,31,10,3,3,0.0
3784307,144,2.4,NaN,1.2,90.0,NaN,2015,12,31,11,3,3,0.0
3784308,144,3.8,NaN,2.6,70.0,NaN,2015,12,31,12,3,3,0.0
3784309,144,4.7,NaN,2.1,65.0,NaN,2015,12,31,13,3,3,0.0
3784310,144,5.4,NaN,2.2,59.0,NaN,2015,12,31,14,3,3,0.0
3784311,144,5.5,NaN,1.8,57.0,NaN,2015,12,31,15,3,3,6.0
3784312,144,4.9,NaN,1.8,59.0,NaN,2015,12,31,16,3,3,9.0
3784313,144,4.2,NaN,1.1,62.0,NaN,2015,12,31,17,3,3,5.0
3784314,144,2.7,NaN,1.2,68.0,NaN,2015,12,31,18,3,3,0.0
3784315,144,1.2,NaN,1.0,76.0,NaN,2015,12,31,19,3,3,0.0
3784316,144,0.4,NaN,0.8,80.0,NaN,2015,12,31,20,3,3,0.0
3784317,144,0.0,NaN,0.5,83.0,NaN,2015,12,31,21,3,3,0.0
3784318,144,-1.0,NaN,1.1,87.0,NaN,2015,12,31,22,3,3,0.0
3784319,144,-1.4,NaN,0.2,90.0,NaN,2015,12,31,23,3,3,0.0

In [29]:
total_rent_df.to_csv('data2/total_rent.csv')
total_return_df.to_csv('data2/total_return.csv')